.admissionProcessWrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.admissionProcessSection {
  width: 90%;
  display: flex;
  gap: 54px;
  flex-direction: column;
}

.admissionProcessSection .heading {
  font-family: Aleo;
  font-size: 64px;
  font-weight: 400;
  line-height: 69.06px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #0540f2;
  margin-bottom: 54px;
}

.admissionProcessSection .subHeading {
  font-family: Aleo;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.admissionProcessSection .row2 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  /* flex-wrap: wrap; */
}

.admissionProcessSection .col2 {
  width: 631px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.admissionProcessSection .col2List {
  width: 631px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.admissionProcessSection .col2List p {
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: Aleo;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #222222;
}

.admissionProcessSection .col2 a {
  text-decoration: none;
  background-color: #0540f2;
  width: 256px;
  height: 50px;
  padding: 10px 0px;
  border-radius: 16px;
  text-align: center;
  opacity: 0px;
  color: #ffffff;
  font-family: Aleo;
  font-size: 24px;
  font-weight: 600;
  line-height: 26.02px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}