.CampusBanner {
  width: 100%;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.CampusBanner .overlay {
  width: 100%;
  height: 438px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CampusBanner .overlay h2 {
  font-family: Aleo;
  font-size: 64px;
  font-weight: 500;
  line-height: 76.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.CampusBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 850px) {
  .CampusBanner {
    height: 250px;
  }
  .CampusBanner .overlay h2 {
    font-size: 36px;
    line-height: 42px;
  }
}
