.banner {
  background-image: url("/images/Rectangle5.jpg");
  height: 445px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.banner .heading {
  font-family: Aleo;
  font-size: 56px;
  font-weight: 400;
  line-height: 60.71px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.banner .subHeading {
  font-family: Aleo;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.learnMore {
  width: 120px;
  text-align: center;
  padding: 10px;
  border-radius: 16px;
  border: solid #ffffff 2px;
  opacity: 0px;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .banner {
    background-size: 100vw 100%;
    background-repeat: no-repeat;
  }
  .banner .heading {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    text-underline-position: from-font;
    color: #ffffff;

    line-height: 47.71px;
  }

  .banner .subHeading {
    font-family: Aleo;
    font-size: 16px;
    font-weight: 300;
    /* line-height: 20px; */
    text-wrap: wrap;
    color: #ffffff;
  }
}
