.campusFooter{
    background-color: black;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 331px;
}
.campusFooter img{
    position: absolute;
    right: 0px;
}

@media screen and (max-width: 850px) {
    .campusFooter {
        height: 150px;
    }
    .campusFooter img {
        height: 100%;
        width: auto;
        opacity: 0.5; /* Fade it out a bit as it might look weird */
    }
}