.collegeSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0px;
}
.collegeSection h3{
    padding-left: 90px;
}

@media screen and (max-width: 850px) {
    .collegeSection {
        padding: 30px 0px;
    }
    .collegeSection h3 {
        padding-left: 20px;
        font-size: 24px;
    }
}
