.enrolledSection {
  margin-top: 177px;
  width: 100vw;
}
.enrolledSection h1 {
  font-family: Aleo;
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #030f4b;
}
.enrolledSection img {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .enrolledSection {
    margin-top: 50px;
  }
  .enrolledSection h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}
