.HotspotsWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 32px 40px;
}
.Hotspots {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Hotspots h2 {
  font-family: Aleo;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (max-width: 850px) {
  .HotspotsWrapper {
    padding: 20px;
  }
  .Hotspots {
    gap: 30px;
  }
  .Hotspots h2 {
    font-size: 30px;
  }
}
