.program {
  width: 219px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.program h3 {
  font-family: Aleo;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #030F4B;
}

@media screen and (max-width: 480px) {
  .program {
    width: 100%;
    align-items: center;
  }
  .program img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
