.Programs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Programs h2 {
  font-family: Aleo;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #030F4B;
}
.Programs div {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .Programs div {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
